extends layout

block content

  div.attacks.textBlack
  
    h2 Below are some of the most common atttacks in the industry

    p.marginTop  These attacks can be protected in many different ways which are laid out below the attacks

    img.frontpageBannerimg.marginTop.marginBottom.floatRight(src="/img/hacker.png" alt="Cloud One Services")

    p.marginTop 1. <a href= https://www.trendmicro.com/vinfo/us/security/definition/denial-of-service-dos> <U><B> Denial of Service Attack DOS</U></B> </a> 

    p Denial of service (DoS) is a type of cyber attack designed to disable, shut down or disrupt a network, website or service. Typically, a malware is used to interrupt or inhibit the normal flow of data into and out of a system to render the target useless or inaccessible for a certain period. Please click on the button to simulate a DOS attack. For more information please look at our <a href=https://www.trendmicro.com/en_ca/business/products/hybrid-cloud/cloud-one-network-security.html> Cloud One Network Security </a> 

    p.marginTop 2.<a href= https://www.trendmicro.com/vinfo/us/security/definition/denial-of-service-dos> <U><B> SQL Injection</U></B> </a> 

    p SQL injection, also known as insertion, is a malicious technique that exploits vulnerabilities in a target website’s SQL-based application software by injecting malicious SQL statements or by exploiting incorrect input. Please click on the button below to simulate a SQL Injection attack. For more information please look at our  <a href=https://www.trendmicro.com/en_ca/business/products/hybrid-cloud/cloud-one-application-security.html> Cloud One Application Security

    p.marginTop 3. <a href=https://www.trendmicro.com/vinfo/us/security/definition/cross-site-scripting-(xss)> <U><B> Cross-site Scripting (XSS) </U></B></a>
    p Cross-site Scripting (XSS) is a security vulnerability usually found in websites and/or web applications that accept user input. Examples of these include search engines, login forms, message boards and comment boxes. For more information please look at our <a href=https://www.trendmicro.com/en_ca/business/products/hybrid-cloud/cloud-one-application-security.html> Cloud One Application Security </a>  and <a href=https://www.trendmicro.com/en_ca/business/products/hybrid-cloud/cloud-one-network-security.html> Cloud One Network Security 

